.arrow-background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 113px;
    height: 107.53px;
    background: linear-gradient(233.16deg, #00B0CE -47.28%, rgba(0, 176, 206, 0.3) 73.34%);
    border-radius: 200px;
}

.arrow {
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    

    width: 48px;
    height: 61px;
            
    color: #FFFFFF;
}